<h1>Welcome</h1>
<div class="row">
  <div class="col-md-6">
    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend feugiat magna, et porttitor nunc varius sit amet. Proin suscipit porta arcu vitae pulvinar. Integer ullamcorper volutpat dolor at imperdiet. Pellentesque sit amet tortor sit amet urna congue accumsan sit amet eu libero. Nam euismod eros ac rhoncus ornare. </p>
   <div class="latest-five">
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Integer eleifend feugiat magna</li>
      <li>Pellentesque sit amet tortor</li>
    </ul>
   </div>

  </div>
  <div class="col-md-6">
    <h2>Sign Up!</h2>
    <form method="POST" action="./new">
    <label>Name</label>
    <input name="signupName" type="text"></input><br />
    <label>Email</label>
    <input name="signupEmail" type="text"></input>
    <input type="submit" name="" value="Sign Up">
  </form>
  </div>
</div>
